@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --branco: #ffffff;
  --preto: #252525;
  --amareloClaro: #fffdc0;
  --amareloMeio: #f7d683;
  --amareloQueimado: #ccb24c;
  --azul: #457d97;
}

* {
  scroll-behavior: smooth;
}